{% extends 'project/base.html.twig' %}

{% block title %}Connexion Utilisateur{% endblock %}

{% block body %}
<div class="container mt-5 bg-white p-4 rounded shadow" style="max-width: 400px;">

    <h1 class="text-center mb-4">Connexion Utilisateur</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('user_login') }}" method="post">
        <div class="mb-3">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required class="form-control" autofocus>
        </div>

        <div class="mb-3">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="_password" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
    </form>
</div>
{% endblock %}
